@model IEnumerable<Volunteers.Models.Job>

    <section class="g-pos-rel">
        <div class="js-carousel" data-autoplay="true" data-infinite="true" data-fade="true" data-speed="5000">
            <div class="js-slide g-min-height-100vh g-flex-centered g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after" style="background-image: url(/assets/images/backgrounds/banner1.jpg);"></div>
            <div class="js-slide g-min-height-100vh g-flex-centered g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after" style="background-image: url(/assets/images/backgrounds/banner2.jpg);"></div>
        </div>
        <div class="u-bg-overlay__inner g-absolute-centered w-100">
            <div class="container text-center g-max-width-750">
                <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
                    <h3 class="h3 g-letter-spacing-7 g-font-size-14 g-color-white g-mb-25">Kami Siap Membantu</h3>
                    <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-3 g-font-weight-700 g-font-size-60 g-color-white mb-0">Relawan Covid-19</h2>
                </div>
            </div>
        </div>
    </section>

<section class="g-py-80">
    <div class="container">
        <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
            <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-weight-700 g-font-size-30 g-font-size-40--md g-color-black mb-0">Beranda</h2>
        </div>

        <div class="row u-timeline-v1-wrap g-mx-minus-15">
           
            @{ 
                var no = 1;
            }
            @foreach (var item in Model)
            {
                if (no % 2 != 0)
                {
                    <div class="col-md-6 g-orientation-right g-pl-60 g-pl-15--md g-pr-40--md g-mb-60 g-mb-0--md g-pt-40">
                        <div class="u-timeline-v1__icon g-color-gray-light-v5 g-ml-13 g-ml-minus-10--md">
                            <i class="fa fa-circle"></i>
                        </div>

                        <div class="g-pos-rel">
                            <!-- Timeline Arrow -->
                            <div class="g-hidden-sm-down u-triangle-inclusive-v1--left g-top-30 g-z-index-2">
                                <div class="u-triangle-inclusive-v1--left__front g-brd-white-left g-brd-white-right"></div>
                                <div class="u-triangle-inclusive-v1--left__back g-brd-gray-light-v4-left g-brd-gray-light-v4-right"></div>
                            </div>

                            <div class="g-hidden-md-up u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
                                <div class="u-triangle-inclusive-v1--right__front g-brd-white-right"></div>
                                <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v4-right"></div>
                            </div>
                            <!-- End Timeline Arrow -->
                            <!-- Timeline Content -->
                            <article class="u-timeline-v1 g-pa-5">
                                <a href="@Url.Action("Details", "Jobs", new { id = item.Id })">
                                    <figure class="g-pos-rel">
                                        <img class="img-fluid w-100" src="@item.Banner" alt="Image Description">
                                    </figure>
                                </a>

                                <div class="g-py-25 g-px-20">
                                    <h3 class="g-font-weight-600 g-mb-15 g-color-gray-dark-v2">
                                        <a class="u-link-v5 g-color-main g-color-primary--hover" href="@Url.Action("Details", "Jobs", new { id = item.Id })">@item.Title</a>
                                    </h3>

                                    @*<div class="g-mb-30">
            @Html.Raw(HttpUtility.HtmlDecode(item.Descriptions))
            <a class="u-link-v5 g-color-main g-color-primary--hover g-font-size-14" href="#!">
                <i class="icon-location-pin g-mr-2"></i>
                @item.Location
            </a>
        </div>*@
                                    <div class="media g-font-size-13">
                                        <i class="icon-clock g-mr-4 g-pt-4"></i>
                                        <div class="media-body align-self-center">
                                            <span class="u-link-v5 g-color-main g-color-primary--hover"> @Volunteers.Helpers.DateTimeHelper.GetLocalDate(item.Start)</span>
                                        </div>
                                    </div>
                                    <div class="media g-font-size-13">
                                        <i class="icon-location-pin g-mr-2 g-pt-4"></i>
                                        <div class="media-body align-self-center">
                                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="@Url.Action("Details", "Jobs", new { id = item.Id })">@item.Location</a>
                                        </div>
                                    </div>

                                    <hr class="g-brd-gray-light-v4">

                                    <div class="media g-font-size-12">
                                        @if (item.Organization.Avatar != null)
                                        {
                                            <img class="d-flex mr-3 rounded-circle g-width-30 g-height-30" src="@item.Organization.Avatar" alt="Image Description">
                                        }
                                        else
                                        {
                                            <img class="d-flex mr-3 rounded-circle g-width-30 g-height-30" src="~/assets/images/icon/user.png" alt="Image Description">
                                        }
                                        <div class="media-body align-self-center text-uppercase">
                                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="@Url.Action("Details", "Jobs", new { id = item.Id })">@item.Organization.FullName</a>
                                        </div>

                                        <div class="align-self-center">
                                            <a class="btn btn-primary" href="@Url.Action("Details", "Jobs", new { id = item.Id })">
                                                Bantu Sekarang
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- End Timeline Content -->
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-6 g-orientation-left g-pl-60 g-pl-40--md g-mt-60--md g-mb-60 g-mb-0--md g-pt-40">
                        <div class="u-timeline-v1__icon g-color-gray-light-v5 g-mr-13 g-mr-minus-8--md">
                            <i class="fa fa-circle"></i>
                        </div>

                        <div class="g-pos-rel">
                            <!-- Timeline Arrow -->
                            <div class="u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
                                <div class="u-triangle-inclusive-v1--right__front g-brd-white-right"></div>
                                <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v4-right"></div>
                            </div>
                            <!-- End Timeline Arrow -->
                            <!-- Timeline Content -->
                            <article class="u-timeline-v1 g-pa-5">
                                <a href="@Url.Action("Details", "Jobs", new { id = item.Id })">
                                    <figure class="g-pos-rel">
                                        <img class="img-fluid w-100" src="@item.Banner" alt="Image Description">
                                    </figure>
                                </a>

                                <div class="g-py-25 g-px-20">
                                    <h3 class="g-font-weight-600 g-mb-15 g-color-gray-dark-v2">
                                        <a class="u-link-v5 g-color-main g-color-primary--hover" href="@Url.Action("Details", "Jobs", new { id = item.Id })">@item.Title</a>
                                    </h3>

                                    @*<div class="g-mb-30">
            @Html.Raw(HttpUtility.HtmlDecode(item.Descriptions))
            <a class="u-link-v5 g-color-main g-color-primary--hover g-font-size-14" href="#!">
                <i class="icon-location-pin g-mr-2"></i>
                @item.Location
            </a>
        </div>*@
                                    <div class="media g-font-size-13">
                                        <i class="icon-clock g-mr-4 g-pt-4"></i>
                                        <div class="media-body align-self-center">
                                            <span class="u-link-v5 g-color-main g-color-primary--hover"> @Volunteers.Helpers.DateTimeHelper.GetLocalDate(item.Start)</span>
                                        </div>
                                    </div>
                                    <div class="media g-font-size-13">
                                        <i class="icon-location-pin g-mr-2 g-pt-4"></i>
                                        <div class="media-body align-self-center">
                                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="@Url.Action("Details", "Jobs", new { id = item.Id })">@item.Location</a>
                                        </div>
                                    </div>

                                    <hr class="g-brd-gray-light-v4">

                                    <div class="media g-font-size-12">
                                        @if (item.Organization.Avatar != null)
                                        {
                                            <img class="d-flex mr-3 rounded-circle g-width-30 g-height-30" src="@item.Organization.Avatar" alt="Image Description">
                                        }
                                        else
                                        {
                                            <img class="d-flex mr-3 rounded-circle g-width-30 g-height-30" src="~/assets/images/icon/user.png" alt="Image Description">
                                        }

                                        <div class="media-body align-self-center text-uppercase">
                                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="@Url.Action("Details", "Jobs", new { id = item.Id })">@item.Organization.FullName</a>
                                        </div>

                                        <div class="align-self-center">
                                            <a class="btn btn-primary" href="@Url.Action("Details", "Jobs", new { id = item.Id })">
                                                Bantu Sekarang
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- End Timeline Content -->
                        </div>
                    </div>
                    <br />
                }
                
                no++;
            }
        </div>
    </div>
</section>