@model Volunteers.ViewModels.AddJob
@{
    Layout = "~/Views/Shared/_LayoutOrganizations.cshtml";
}

<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Tambah Pekerjaan</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Jobs")">Pekerjaan</a></li>
            <li class="breadcrumb-item active">Tambah Pekerjaan</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pekerjaan</h4>
                <h6 class="card-subtitle">Untuk menambahkan pekerjaan silahkan isi form berikut</h6>
                @using (Html.BeginForm("AddJob", "Organizations", FormMethod.Post, new { enctype = "multipart/form-data", id = "AddJob" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", placeholder = "Id", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Banner : </label>
                                    @Html.TextBoxFor(model => model.Banner, new { type = "file", htmlAttributes = new { @class = "form-control", placeholder = "Banner", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Banner, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group date" id="Start" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#Start" id="Start" name="Start" placeholder="Tanggal Mulai">
                                    <div class="input-group-addon btn-info" data-target="#Start" data-toggle="datetimepicker"><i style="color: white" class="fa fa-calendar"></i></div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ">
                                <div class="input-group date" id="Finish" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#Finish" id="Finish" name="Finish" placeholder="Tanggal Selesai">
                                    <div class="input-group-addon btn-info" data-target="#Finish" data-toggle="datetimepicker"><i style="color: white" class="fa fa-calendar"></i></div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Finish, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", placeholder = "Lokasi", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group ">
                                @Html.TextAreaFor(model => model.Descriptions, new { htmlAttributes = new { @class = "form-control", placeholder = "Deskripsi" } })
                                @Html.ValidationMessageFor(model => model.Descriptions, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="submit" value="Tambah" class="btn btn-info" />
                        @Html.ActionLink("Batal", "Organizations", null, new { @class = "btn btn-inverse" })
                    </div>
                }
            </div>

        </div>
    </div>
</div>
@section styles
{

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/js/manage/main.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>
        tinymce.init({
            selector: "#Descriptions",
            theme: "modern",
            height: 300,
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",

        });

        tinymce.init({
            selector: "#ShortDescriptions",
            theme: "modern",
            height: 300,
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",

        });

        $(function () {
            $('#Start').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });
            $('#Finish').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });
        });
    </script>
    <script>
        Dropzone.autoDiscover = false;
        $("#mobilePoster").dropzone({
            url: "@Url.Action("UploadEventMobilePoster", "UploadImages")",
            paramName: "file",
            maxFilesize: 0.2,
            uploadMultiple: false,
            acceptedFiles: "image/*",

            init: function () {
                this.on("thumbnail", function (file) {
                    if (file.width != file.height) {
                        file.rejectDimensions();
                    }
                    else {
                        file.acceptDimensions();
                    }
                });
                 this.on("sending", function (file, xhr, formData) {
                    formData.append("id","id");
                });
               this.on("maxfilesexceeded", function (file) {
                    this.removeAllFiles();
                    this.addFile(file);
                });
                this.on("error", function (file, message) {
                    swal({
                                title: "Terjadi Kesalahan",
                                text: "File harus dalam ratio 1:1 (square) dan tidak boleh lebih dari 200 KB",
                                type: "error"
                            })
                    this.removeFile(file);
                });
                var myDropZone = this;
                this.on("queuecomplete", function (file) {
                    id = "id";
                    var data = {
                        'id': id
                    };
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetEventMobilePoster", "UploadImages")',
                        data: data,
                        success: function (data) {
                            $("#mobilePosterImage").replaceWith(data);
                        },
                        complete: function () {
                            myDropZone.removeAllFiles();
                        }
                    })
                });
            },

            accept: function (file, done) {
                file.acceptDimensions = done;
                file.rejectDimensions = function () { done("invalid ratio"); };
            }
        });
    </script>
}

