@model IEnumerable<Volunteers.Models.Job>
@{
    Layout = "~/Views/Shared/_LayoutOrganizations.cshtml";
}

<div class="row page-titles">

    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Semua Pekerjaan</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Kelola Pekerjaan</li>
        </ol>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <p><a class="btn btn-info" href="@Url.Action("AddJob")">Tambah Pekerjaan</a> </p>
        <div class="table-responsive m-t-40">
            <table id="myTable" class="table table-bordered table-striped">
                <thead class="table-header">
                    <tr class="color-table">
                        <th>Judul</th>
                        <th>Tanggal</th>
                        <th>Lokasi</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@Volunteers.Helpers.DateTimeHelper.GetLocalDateTime(item.Start)</td>
                            <td>@item.Location</td>
                            <td>
                                <a href="@Url.Action("EditJob", new { id = item.Id })" target="_blank" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-edit m-1"></i>
                                </a>
                                <a href="@Url.Action("VolunteerJobs", new { id = item.Id })" target="_blank" data-toggle="tooltip" data-original-title="Lihat Relawan">
                                    <i style="margin-left:5px" class="fa fa-users"></i>
                                </a>
                                <a href="@Url.Action("Details", "Jobs",new { id = item.Id })" target="_blank" data-toggle="tooltip" data-original-title="Lihat Detail">
                                    <i class="fa fa-align-justify m-1"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/assets/css/custom.css">
}
@section Scripts{
    <script src="~/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();

        });
    </script>
}


