@model Volunteers.Models.Job
@{
    ViewBag.Title = "Details";
}

<section class="g-pt-50 g-pb-50">
    <div class="container">
        <div class="row">
            <!-- Articles Content -->
            <div class="col-lg-9 g-mb-50 g-mb-0--lg">
                <article class="g-mb-60">
                    <header class="g-mb-30">
                        <h2 class="h1 g-mb-15">@Model.Title</h2>

                        <ul class="list-inline d-sm-flex g-color-gray-dark-v4 mb-0">
                            <li class="list-inline-item">
                                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#">
                                    @Model.Organization.FullName
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10">/</li>
                            <li class="list-inline-item">
                                @if (Model.Start.Date == Model.Finish.Date)
                                {
                                    <span> @Volunteers.Helpers.DateTimeHelper.GetLocalDay(Model.Start), @Volunteers.Helpers.DateTimeHelper.GetLocalDate(Model.Start), @Volunteers.Helpers.DateTimeHelper.GetTime(Model.Start) - @Volunteers.Helpers.DateTimeHelper.GetLocalTime(Model.Finish)</span>
                                }
                                else if (Model.Start.Month == Model.Finish.Month && Model.Start.Year == Model.Finish.Year)
                                {
                            <span> @Volunteers.Helpers.DateTimeHelper.GetTime(Model.Start) - @Volunteers.Helpers.DateTimeHelper.GetLocalDay(Model.Finish)</span>
                                }



                            </li>


                        </ul>

                        <hr class="g-brd-gray-light-v4 g-my-15">

                    </header>

                    <div class="g-font-size-16 g-line-height-1_8 g-mb-30">
                        <figure class="u-shadow-v25 g-mb-30">
                            <img class="img-fluid w-100"
                                 src="@Model.Banner"
                                 alt="Banner">
                        </figure>
                        @Html.Raw(HttpUtility.HtmlDecode(Model.Descriptions))
                    </div>
                </article>

                <div id="stickyblock-end"></div>
            </div>
            <!-- End Articles Content -->
            <!-- Sidebar -->
            <div class="col-lg-3">
                <!-- Useful Links -->
                <div class="g-mb-50">
                    <div class="u-heading-v3-1 g-mb-30">
                        <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Useful Links</h2>
                    </div>

                    <ul class="list-unstyled">
                        <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                            <h4 class="h6">
                                <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                                <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Wrapbootstrap Marketplace</a>
                            </h4>
                        </li>
                        <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                            <h4 class="h6">
                                <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                                <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Google Adwords &amp; Adsense</a>
                            </h4>
                        </li>
                        <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                            <h4 class="h6">
                                <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                                <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Web Design with UX/UI</a>
                            </h4>
                        </li>
                        <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                            <h4 class="h6">
                                <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                                <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Digital Marketing</a>
                            </h4>
                        </li>
                        <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                            <h4 class="h6">
                                <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                                <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Support Forum &amp; Community</a>
                            </h4>
                        </li>
                        <li class="mb-0">
                            <h4 class="h6">
                                <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                                <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="#">Unify Template Pages</a>
                            </h4>
                        </li>
                    </ul>
                </div>
                <!-- End Useful Links -->
                <!-- Subscribe -->





            </div>
            <!-- End Sidebar -->
        </div>
    </div>

</section>

